*{
    color: hsl(0, 0%, 100%);
}
body{
    background-color: #001111;
    margin: 15px;
    padding: 5px;
}


/*Templet area*/
.Header { grid-area: header; }
.Navbar { grid-area: nav;}
.LokalNavbar { grid-area: Lokalnav; }
.Main { grid-area: main; }
.Aside { grid-area: right; }
.Footer { grid-area: footer; }


/*Tre spalts layout*/
.grid-container-tre {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav    nav     nav    nav   nav   nav'
    'Lokalnav  main main  main  right right'
    'footer footer footer footer footer footer';
  grid-gap: 4px;
  background-color: #5f6d84;
  grid-template-rows: 80px auto auto 100px;
  grid-template-columns: 150px 600px auto;
  padding: 8px;
}


/*Två spalts layout*/
.grid-container-två {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'nav    nav     nav    nav   nav   nav'
      'main  main  main  main  right right'
      'footer footer footer footer footer footer';
    grid-gap: 4px;
    background-color: #5f6d84;
    grid-template-rows: 80px auto auto 100px;
    grid-template-columns: auto;
    padding: 10px;
}


/*Läger upp en bas för innehållet*/
.grid-container-tre > nav, header, footer, aside, main {
  text-align: center;
  padding: 0;
  font-size: 30px;
}
.grid-container-två > nav, header, footer, aside, main {
    text-align: center;
    padding: 0;
    font-size: 30px;
}


/*gör navbaren synlig i griden*/
.Navbar ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px;
    padding: 0px;
}
.Navbar {
    padding: 0px;
}


/*Varje indelad sektion med höjd*/
main{
    height: auto;
    background-color: #003D4D;
}
header{
    height: auto;
    background-color: #3399FF;
}
footer{
    height: auto;
    background-color: #201E6F;
}
nav{
    height: auto;
}
aside{
    height: auto;
    background-color: #6D95FA;
}
article {
    height: auto;
}
div{
    display:grid;
    margin-bottom: 210px;
}

/*Section på Home sidan*/
section{
    background: #06bd9e;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
section::after{
    content: " - Well hope it's right xD";
    font-size: 1ex;
    color: black;
}
section > p, h1 {
    color: black;
}
h2 a:target{
    background: #999;
    border: 2px solid #555;
}

/*Gemensam storlek på alla rubriker i header*/
.Header h3{
    display: grid;
    margin: 20px;
}

/*Speciella p och h-taggar*/
/*Radernas storlek på 2em*/
p.space{
    line-height: 2em;
    vertical-align: top;
}
p.Info{
    font-size: 1ex;
    vertical-align: bottom;
}
h2.Large{
    font-size: 10vmin;
}
h4.left{
    text-align: left;
    margin-left: 100px;
}


/*Games video/audio/iframe*/
video{
    display:grid;
    margin-left: auto;
    margin-right: auto;
    display:block;
    height: 400px;
    width: 600px;
}
audio{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
iframe{
    width:500px;
    height: 250px;
}


/*Animation*/
div.Animation{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #adb;
    position: relative;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
/*De steg som animationen går igenom*/
@keyframes example{
    0%{background-color: #adb; left: 0px; top:0px;}
    25%{background-color: #cad; left: 200px; top: 0px;}
    50%{background-color: #dac; left: 200px; top: 200px;}
    75%{background-color: #dca; left: 0px; top: 200px;}
    100%{background-color: #adb; left: 0px; top: 0px;}
}


/*Transistion*/
div.Transistion{
    width: 100px;
    height: 100px;
    background: rgb(43,221,201);
    transition: width 4s;
    margin-left: 100px;
}
/*Förändring som sker när man håller över*/
div.Transistion:hover{
    width: 300px;
}


/*Formulär*/
form{
text-align: left;
font-size: 17px;
color: black;
}
legend.störreText, label.störreText{
    font-size: 32px;
}
input, textarea, select, option, button{
    color: #000000;
}


/*Tabell Home*/
table.Collapse{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(167, 81%, 29%);
    margin-bottom: 20px;
}


/*Tabell spel*/
table.Round{
    border-radius: 28px;
    background-color: hsl(167, 81%, 29%);
    margin-left: auto;
    margin-right: auto;
}
table, th, td{
    border: solid;
    border-width: 2px;
    border-collapse: separate;
    margin: 5px;
    padding: 5px;
}
th, td {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
/*Byter färg efter varanan rad*/
table#t01 tr:nth-child(odd){
    background-color: rgba(0, 155, 44, 0.6);
}
table#t01 tr:nth-child(even){
    background-color: hsla(137, 54%, 36%, 0.7);
}


/*Deskription list*/
dl{
    text-align: left;
    margin-left: 100px;
}


/*Topplista*/
img, ol.Topplista{
    display: grid;
}
img {
    height: 350px;
    width: 600px;
}
ol.Topplista{
    color: rgb(255, 250, 250);
	list-style-type: upper-roman;
	list-style-position: inside;
}
ol li{
    text-align: left;
}
/*Tar bort så att elementet inte räknas med i listan*/
.None{
    list-style-type: none;
}
.largerText {
	font-size: 23px;
	color: #EEEEEE;
}


/*Reklam*/
img.reklam{
    height: 200px;
    width: 250px;
    margin-bottom: 200px;
}
img.Reklame{
    height: 250px;
    width: 400px;
}
img.distance{
    margin-bottom: 100px;
}


/*Huvudmeny till alla*/
a {
	display: block;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	padding: 5px;
}
nav ul {
	list-style: none;
	overflow: hidden;
	white-space: nowrap;
	background-color: rgb(51, 51, 51);
	padding: 0;
    margin: 0;
}
/*Gör menyn horisontell*/
ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}
.active {
	background-color: rgb(109, 95, 95);
}
/*Om du håller över en som inte har taggen .active ge dem färgen #111;*/
li a:hover:not(.active) {
	background-color: #111111;
}
li a:focus {
	background-color: #ff2211;
}
li a {
	padding: 14px 16px;
}


/*Lokal meny*/
nav#vertikal{
    width: auto;
    height: auto;
}
li.VertikalNavbar{
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1rem;
    
}
nav#vertikal ul{
    height: 100%;
}


/*Footer, med tabell för strukturering*/
.Footer{
	display:grid;
}
tr.Rubrik th{
	font-size: 22px;
}
tr.Undertext td{
	font-size: 18px;
}
table.noBorder, tr.Rubrik th, tr.Undertext td{
    border: none;
    margin: 0;
    padding: 0;
}
td a:link{
    color: greenyellow;
}
td a:visited{
    color: pink;
}


/*Templet phone*/
@media screen and (max-width: 600px){
    /*Tvåspaltlayout blir enspalt*/
    .grid-container-två{
        display:grid;
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer';
        grid-template-rows: auto;
    }

    /*Tar bort all "reklam"*/
    aside{
        display:none;
    }
 
    /*Ändring av tabell storlek för att få plats*/
    table{
        width: 60px;
    }
    tr.Rubrik th, tr.Undertext td{
        font-size: 12px;
    }
    th, td{
        font-size: 10px;
    }

    /*Ändring för att section ska få plats*/
    section{
        margin-left: 50px;
        margin-right: 50px;
    }

    /*Läger animationen och transistion längst till vänster*/
    div.Transistion, div.Animation{
        margin-left: 0px;
    }

    /*varje meny ska ha en ul-tagg per rad*/
    .Navbar ul{
        grid-template-columns: 1fr;
    }

    /*Trespaltlayout blir enspalt*/
    .grid-container-tre{
        display:grid;
        grid-template-areas:
            'header'
            'nav'
            'Lokalnav'
            'main'
            'footer';
        grid-template-rows: auto;
        grid-template-columns: 1fr; 
    }

    /*ändring av bild/video/iframe storlek*/
    img{
        width:250px;
        height: 130px;
    }
    video, iframe{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 130px;
    }

    /*Diskriktionlisten lägs till vänster samt h4 rubriken*/
    dl, h4.left{
        margin-left: 0px;
    }
 }
